<br />
<div class="container">
  <div class="center-block">
<%= form_tag( edit_user_show_path,:class=>"form-horizontal",:method => :post,) do %>

    <div class="form-group">
      <%=label_tag :用户名 %><br>
      <%=text_field_tag :username,@user.username,disabled: true %><br>
    </div>

    <%= hidden_field_tag(:user, @user.username) %>

    <div class="form-group">
      <%=label_tag :用户邮箱 %><br>
      <%=text_field_tag :email,@user.email,disabled: true %><br>
    </div>
    <% if current_user==@user %>
    <div class="form-group">
      <%= label_tag :真实姓名 %><br>
      <%= text_field_tag :realname,nil,placeholder:@user.realname %><br>
    </div>
    <% end %>
    <% unless current_user.admin %>
    <div class="form-group">
      <% if current_user.job==nil or @user.job=="客服人员" %>
         <%= label_tag :岗位 %><br>
         <%= select_tag(:job,
                     options_for_select(['客服人员'])) %>
      <% end %>
    </div>
    <% end %>
    <% if current_user.admin && @name!=current_user.username %>
        <div class="form-group">
              <%= label_tag :岗位 %><br>
              <%= select_tag(:job,
                             options_for_select(['客服人员','作品库管员','作品备案认证人员','草拟与证书发送人员'])) %>
        </div>
    <% end %>

        <% if current_user.admin && @name==current_user.username %>
            <div class="form-group">
              <%= label_tag :岗位 %><br>
              <%= select_tag(:job,
                             options_for_select(['管理员'])) %>
            </div>
        <% end %>

    <% if current_user==@user %>
    <div class="form-group">
      <%= label_tag :手机号码 %><br>
      <%= text_field_tag :phonenumber,nil,placeholder:@user.phonenumber %>
    </div>
    <% end %>
    <div class="form-group">
      <%= submit_tag "保存"  %>
    </div>
<% end %>
    </div>
</div>
