<h1><%= @user.username %>的详细信息</h1>
<p>用户名:<%= @user.username %></p>
<p>真实姓名:<%= @user.realname  %></p>
<p>邮箱地址: <%= @user.email %></p>
<p>手机号码：<%= @user.phonenumber %></p>
<%=link_to "发送站内信",new_message_path %>