
<body>


  <!-- Jumbotron -->
  <div class="jumbotron">
    <h2 class="form-signin-heading">请登录</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :登录 %><br />
          <%= f.text_field :login %>
        </div>

        <div class="field">
          <%= f.label :密码 %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :记住我 %>
            </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "登录",:class=>"btn btn-large btn-primary" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>最新动态!</h2>
      <p class="text-danger">AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的</p>
      <p><a class="btn btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>标题</h2>
      <p>AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的 </p>
      <p><a class="btn btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>标题</h2>
      <p>AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的</p>
      <p><a class="btn btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
  </div>

  <!-- Site footer -->
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
