<%= form_for(@art_work) do |f| %>
  <% if @art_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art_work.errors.count, "错误") %> 禁止此艺术品被保存:</h2>

      <ul>
      <% @art_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名称 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :创作日期 %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :创作地点 %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :艺术家名称 %><br>
    <%= f.text_field :author %>
  </div>
    <div class="controls">
      <%= f.label :图片 %><br>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  <div class="field">
    <%= f.label :作品描述 %><br>
    <%= f.text_area :describe %>
  </div>

  <div class="actions">
    <%= f.submit "确认",:class => 'btn btn-default' %>
    <%= link_to '显示', @art_work,:class => 'btn btn-default' %>
  </div>



<% end %>
